

body{
  background-color: #12d131;
}


.listMain .header input {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #fff;
  width: 160px;
}

.listMain .header button {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  margin-right: 0px;
  background-color: #08ccb5;
  color:#fff;
  border: 2px solid #fff;
}

.listMain .header button:hover{
  background-color: #cc0794;
  cursor: pointer;
}

.listMain .lists li {
  color:  #333;
  background-color: #efefef;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;

  transition: background-color .2s ease-out;
}

.listMain .lists li:hover{
  background-color: red;
  cursor: pointer;
}

ul.lists{
  padding: 0;
}
